/* Preset "Violet Bloom": https://github.com/jnsahaj/tweakcn/blob/main/utils/theme-presets.ts */
html[data-theme="violet-bloom"] {
  --background: #fdfdfd;
  --foreground: #000000;
  --card: #fdfdfd;
  --card-foreground: #000000;
  --popover: #fcfcfc;
  --popover-foreground: #000000;
  --primary: #7033ff;
  --primary-foreground: #ffffff;
  --secondary: #edf0f4;
  --secondary-foreground: #080808;
  --muted: #f5f5f5;
  --muted-foreground: #525252;
  --accent: #e2ebff;
  --accent-foreground: #1e69dc;
  --destructive: #e54b4f;
  --destructive-foreground: #ffffff;
  --border: #e7e7ee;
  --input: #ebebeb;
  --ring: #000000;
  --chart-1: #4ac885;
  --chart-2: #7033ff;
  --chart-3: #fd822b;
  --chart-4: #3276e4;
  --chart-5: #747474;
  --sidebar: #f5f8fb;
  --sidebar-foreground: #000000;
  --sidebar-primary: #000000;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #ebebeb;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #ebebeb;
  --sidebar-ring: #000000;
  --theme-font-sans: var(--font-plus-jakarta-sans), sans-serif;
  --theme-font-serif: var(--font-lora), serif;
  --theme-font-mono: var(--font-ibm-plex-mono), monospace;
  --radius: 1.4rem;
  --letter-spacing: -0.025em;
  --spacing: 0.27rem;
  --shadow-2xs: 0 2px 3px 0 hsl(0 0% 0% / 0.08);
  --shadow-xs: 0 2px 3px 0 hsl(0 0% 0% / 0.08);
  --shadow-sm: 0 2px 3px 0 hsl(0 0% 0% / 0.16), 0 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow: 0 2px 3px 0 hsl(0 0% 0% / 0.16), 0 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md: 0 2px 3px 0 hsl(0 0% 0% / 0.16), 0 2px 4px -1px hsl(0 0% 0% / 0.16);
}

html.dark[data-theme="violet-bloom"] {
  --background: #1a1b1e;
  --foreground: #f0f0f0;
  --card: #222327;
  --card-foreground: #f0f0f0;
  --popover: #222327;
  --popover-foreground: #f0f0f0;
  --primary: #8c5cff;
  --primary-foreground: #ffffff;
  --secondary: #2a2c33;
  --secondary-foreground: #f0f0f0;
  --muted: #2a2c33;
  --muted-foreground: #a0a0a0;
  --accent: #1e293b;
  --accent-foreground: #79c0ff;
  --destructive: #f87171;
  --destructive-foreground: #ffffff;
  --border: #33353a;
  --input: #33353a;
  --ring: #8c5cff;
  --chart-1: #4ade80;
  --chart-2: #8c5cff;
  --chart-3: #fca5a5;
  --chart-4: #5993f4;
  --chart-5: #a0a0a0;
  --sidebar: #161618;
  --sidebar-foreground: #f0f0f0;
  --sidebar-primary: #8c5cff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #2a2c33;
  --sidebar-accent-foreground: #8c5cff;
  --sidebar-border: #33353a;
  --sidebar-ring: #8c5cff;
}
